body {
  background-color: #eeeeee;
}
.todolist {
  background-color: #fff;
  padding: 20px 20px 10px 20px;
  margin-top: 30px;
}
.todolist h1 {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}

.not-done button {
  margin:10px 0
}

.form-control {
  border-radius: 0;
}
li.ui-state-default {
  background: #fff;
  border: none;
  border-bottom: 1px solid #ddd;
}

li.ui-state-default:last-child {
  border-bottom: none;
}

.todo-footer {
  background-color: #f4fce8;
  margin: 0 -20px -10px -20px;
  padding: 10px 20px;
}
.pending-tasks {
  margin-bottom: 20px;
}
.done-tasks li,
.pending-tasks li {
  border-bottom: 1px solid #ddd;
}
.done-tasks span {
  text-decoration: line-through;
}
.done-tasks li:last-child {
  border-bottom: none;
}
#checkAll {
  margin-top: 10px;
}
